:root {
    --text-color: #c49f82;
    --dark-text-color: #381408;
    --dark-text-color-op: #38140833;
    --gray-color:#ebebed;
    --back-gray-color: #e5e5e5;
    --font-root: 'Anjoman', sans-serif;
    --primary-gradient: linear-gradient(120deg, #381408 -46%, #c49f82 100%);
}

@font-face {
    font-family: 'Anjoman';
    src: url(./assets/fonts/Anjoman/Anjoman-ExtraLight.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Anjoman';
    src: url(./assets/fonts/Anjoman/Anjoman-Black.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Anjoman';
    src: url(./assets/fonts/Anjoman/Anjoman-UltraBold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Anjoman';
    src: url(./assets/fonts/Anjoman/Anjoman-Heavy.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

* , *::after , *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

/* Register Style */

body {
    font-family: 'Anjoman', sans-serif;
    color: #000;
    background: #fff;
}

a {
    color:#000;
}

.form-wrapper{
    margin: 1.5rem auto;
}